<div class="form-group">
    <div class="form-row">

        <!-- Imagen Producto -->
        <div class="col-3">            
            <div class="form-group">
                <label for="nombreImagen">Nombre Imagen</label>
                <input type="text" class="form-control" formControlName="nombreImagen" placeholder="Ingrese el Nombre de la Imagen">
            </div>

            <div *ngIf="verificarCampo('nombreImagen')" class="alert-danger">
                {{getMensajeError("nombreImagen")}} 
            </div>
        </div>

        <!-- Select File -->
        <input type="file" accept="image/*" (change)="showPreview($event)" />
 
    </div>   
        <div class="form-group">
            <div class="form-row">
                <div class="card-columns">
                    <div class="card-body">                        
                        <!-- Image Preview -->
                        <mat-card-content>
                            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                                <img [src]="imageURL" [alt]="nombreImagen">
                            </div>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </div>
</div>