<form>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12" [style.padding-top]="'30px'">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
            <p-fileUpload #uploader
                          chooseLabel="Adjuntar"
                          uploadLabel="Cargar"
                          cancelLabel="Cancelar"
                          [multiple]="false"
                          customUpload="true"
                          accept="image/*"
                          (uploadHandler)="uploadDocuments($event, uploader)"
                          name="file[]"
                          maxFileSize="2000000"
                          invalidFileSizeMessageSummary="El documento que desea adjuntar supera el tamaño permitido"
                          invalidFileTypeMessageSummary="El documento que desea adjuntar no comparte el formato permitido">
            </p-fileUpload>
          </div>
        </div>
    </div>
    
</form>