<form [formGroup]="busquedaCampaniasForm"> 
    
    <div class="form-group">
        <div class="form-row">

            <!-- Busqueda Campañas -->
            <div class="col-3">       
                <div class="form-group">
                    <label for="busquedaCampania">Busqueda Campaña</label>
                    <input type="text" class="form-control" formControlName="busquedaCampania" placeholder="Ingrese (código, nombre o descripción) de la campaña">
                </div>

                <div *ngIf="verificarCampo('busquedaCampania')" class="alert-danger">
                    {{getMensajeError("busquedaCampania")}} 
                </div>
            </div>
        </div>   
    </div>     

    <button type="button" class="btn btn-default" [disabled]="busquedaCampaniasForm.invalid" (click)="buscar()">Buscar</button>
    <button type="button" class="btn btn-default" (click)="refrescar()">Limpiar</button>
    <br>
    <br>
    
    <div class="form-group">
        <h1>Lista de Camapañas</h1>
        
        <div class="form-row">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Item tabla-->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                  </ng-container>
              
                  <!-- Codigo Campaña -->
                  <ng-container matColumnDef="codProducto">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.codCampania}} </td>
                  </ng-container>
              
                  <!-- Nombre Campaña -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Descripcion Campaña -->
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                  </ng-container>
 
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>  
        </div>   
    </div>

</form>