
<div class="header alert alert-danger alert-dismissible fade show py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido!</h1>
          <p class="text-lead text-light">Este es el registro en nuestra aplicación.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          
          <div class="text-center text-muted mb-4">
            <small>Ingresa tu información</small>
          </div>
          
          <form role="form" [formGroup]="registerUsersForm" (submit)="createUser()"> 
            <div class="form-group">
              
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input class="form-control" placeholder="Cédula" type="number" formControlName="identificationNumber">
              </div>
              
              <div *ngIf="verificarCampo('identificationNumber')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("identificationNumber" )}}
              </div>
            </div>
          
          
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="Nombres" type="text" formControlName="firstName">
              </div>
              <div *ngIf="verificarCampo('firstName')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("firstName") }}
              </div>
            </div>
          
          
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="Apellidos" type="text" formControlName="lastName">
              </div>
              <div *ngIf="verificarCampo('lastName')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("lastName") }}
              </div>
            </div>
          
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input class="form-control" placeholder="Dirección" type="text" formControlName="address">
              </div>
              <div *ngIf="verificarCampo('address')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("address") }}
              </div>
            </div>
  
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control" placeholder="Fecha de Nacimiento" type="date" formControlName="birthdate">
              </div>
              <div *ngIf="verificarCampo('birthdate')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("birthdate") }}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                </div>
                <input class="form-control" placeholder="Telefono" type="text" formControlName="phone">
              </div>
              <div *ngIf="verificarCampo('phone')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("phone") }}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" formControlName="email">
              </div>
              <div *ngIf="verificarCampo('email')" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ getMensajeError("email") }}
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" placeholder="Nombre de Usuario" type="text" formControlName="username">
              </div>
              <div *ngIf="verificarCampo('username')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("username") }}
              </div>
            </div>
          
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
              </div>
              <div *ngIf="verificarCampo('password')" class="alert alert-danger alert-dismissible fade show">
                {{ getMensajeError("password") }}
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="registerUsersForm.invalid">Crear
                Usuario</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
