/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-card-content{
    margin: auto;
    width: 25%;
    display: block;
    margin-top: 2rem;
    align-items: center;
}

mat-card img{
  object-fit: cover;
  width: 30%;
  height: 30%;
}

table {
  width: 100%;
}


////Estilo Table///////////////////////////////////////////
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../src/app/style/table.css";
