<form [formGroup]="busquedaClientesForm">

  <div class="form-group">
    <div class="form-row">

      <!-- Busqueda Clientes -->
      <div class="col-3">
        <div class="form-group">
          <label for="busquedaCliente">Busqueda Cliente</label>
          <input type="text" class="form-control" formControlName="busquedaCliente"
                 placeholder="Ingrese número de identificación del cliente">
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-default" (click)="buscar()">Buscar</button>
  <br>
  <br>

  <div class="content-section implementation" *ngIf="lstClientes && lstClientes.length > 0">
      <!--Resultados Busqueda-->
      <div class="card">
        <h1>Lista de Clientes</h1>
        <p-table 
          [value]="lstClientes"
          [rows]="5"
          selectionMode="single"
          [(selection)]="selectedCliente" 
          dataKey="codigo"
          (onRowSelect)="onRowSelect($event)" 
          (onRowUnselect)="onRowUnselect($event)"
          [responsive]="true"
          emptyMessage="No se encontraron resultados">
          
          <ng-template pTemplate="header">
            <tr>
              <th>No. Identificación</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>userName</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-cliente>
            <tr [pSelectableRow]="cliente">
              <td>{{cliente.cedula}}</td>
              <td>{{cliente.nombres}}</td>
              <td>{{cliente.apellidos}}</td>
              <td>{{cliente.username}}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator [rows]="5"  
                     [totalRecords]="totalRecords"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Resultados"
                     (onPageChange)="paginate($event)"
                     #paginator
                     [first]="first">
        </p-paginator>

      </div>
  </div>

</form>