<form [formGroup]="busquedaProductosForm"> 
    
    <div class="form-group">
        <div class="form-row">

            <!-- Busqueda Productos -->
            <div class="col-3">       
                <div class="form-group">
                    <label for="busquedaProducto">Busqueda Producto</label>
                    <input type="text" class="form-control" formControlName="busquedaProducto" 
                           placeholder="Ingrese (código, nombre o descripción) del producto">
                </div>
            </div>
        </div>   
    </div>     

    <button type="button" class="btn btn-default" (click)="buscar()">Buscar</button>
    <br>
    <br>
    
    <div class="content-section implementation" *ngIf="lstProductos && lstProductos.length > 0">
      <!--Resultados Busqueda-->
      <div class="card">
        <h1>Lista de Productos</h1>
        <p-table 
          [value]="lstProductos"
          [rows]="5"
          selectionMode="multiple"
          [(selection)]="selectedProductos"
          [metaKeySelection]="true" 
          dataKey="productCode"
          (onRowSelect)="onRowSelect($event)"
          [responsive]="true"
          emptyMessage="No se encontraron resultados">
          
          <ng-template pTemplate="header">
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Descripción</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-producto>
            <tr [pSelectableRow]="producto">
              <td>{{producto.productCode}}</td>
              <td>{{producto.productName}}</td>
              <td>{{producto.productDescription}}</td>
            </tr>
          </ng-template>
        </p-table>

        <p-paginator [rows]="5"  
                     [totalRecords]="totalRecords"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Resultados"
                     (onPageChange)="paginate($event)"
                     #paginator
                     [first]="first">
        </p-paginator>

      </div>
    </div>


</form>