<div class="header bg-gradient-danger py-7 py-lg-1">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
            </div>
        </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>

<h1>Formulario de Registro de Productos</h1>

<form (submit)="crearProducto()" [formGroup]="registerProductosForm"> 
    
    <div class="form-group">
        <div class="form-row">

            <!-- Tipo de Proveedor -->
            <div class="col-3">      
                <div class="form-group">
                    <label for="tipoProveedor">Seleccione el tipo de proveedor</label>
                    <select class="form-control" id="tipoProveedor" name="tipoProveedor" #tipoProveedor formControlName="tipoProveedor" (change)="onSelTipoProveedores($event.target.value)">
                        <option *ngFor="let tipoProveedor of listTipoProveedor" [value]="tipoProveedor.value">{{tipoProveedor.name}}</option>
                    </select>
                </div>

                <div *ngIf="verificarCampo('tipoProveedor')" class="alert-danger">
                    {{getMensajeError("tipoProveedor")}} 
                </div>
            </div>

            <!-- Proveedores -->
            <div class="col-3" *ngIf= "tipoProveedor.value !== ''">      
                <div class="form-group">
                    <label for="tipoProducto">Seleccione el tipo de producto</label>
                    <select class="form-control" id="tipoProducto" name="tipoProducto" formControlName="tipoProducto" (change)="onSelTipoProducto($event)">
                        <option *ngFor="let tipoProducto of listTipoProductos" [nombre]="tipoProducto.name" [value]="tipoProducto.value">{{tipoProducto.name}}</option>
                    </select>
                </div>

                <div *ngIf="verificarCampo('tipoProducto')" class="alert-danger">
                    {{getMensajeError("tipoProducto")}} 
                </div>
            </div>

            <!-- Codigo -->
            <div class="col-3">   
                <div class="form-group">
                    <label for="codigo">Código</label>
                    <input type="text" class="form-control" formControlName="codigo">
                </div>

                <div *ngIf="verificarCampo('codigo')" class="alert-danger">
                    {{getMensajeError("codigo")}} 
                </div>
            </div>
        </div>   
    </div>

    <div class="form-group">
        <div class="form-row">

            <!-- Nombre -->
            <div class="col-3">       
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>

                <div *ngIf="verificarCampo('nombre')" class="alert-danger">
                    {{getMensajeError("nombre")}} 
                </div>
            </div>

            <!-- Descripcion -->
            <div class="col-3">            
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>

                <div *ngIf="verificarCampo('descripcion')" class="alert-danger">
                    {{getMensajeError("descripcion")}} 
                </div>
            </div>

            <!-- Precio -->
            <div class="col-3">     
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="text" class="form-control" formControlName="precio">
                </div>

                <div *ngIf="verificarCampo('precio')" class="alert-danger">
                    {{getMensajeError("precio")}} 
                </div>
            </div>
        </div>   
    </div>

    <div class="form-group">
        <div class="form-row">
            <!-- Fecha Inicial -->
            <div class="col-3">       
                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Fecha Inicio </mat-label>
                    <input matInput [matDatepicker]="fechaInicial" placeholder="Seleccione una Fecha" class="form-control" formControlName="fechaInicial" [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="fechaInicial"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #fechaInicial></mat-datepicker>
                </mat-form-field> 

                <div *ngIf="verificarCampo('fechaInicial')" class="alert-danger">
                    {{getMensajeError("fechaInicial")}} 
                </div>
            </div>

            <!-- Fecha Final -->
            <div class="col-3"> 
                <mat-form-field appearance="fill" class="form-group">     
                    <mat-label>Fecha Fin </mat-label>
                    <input matInput [matDatepicker]="fechaFinal" placeholder="Seleccione una Fecha" class="form-control" formControlName="fechaFinal" [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="fechaFinal"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #fechaFinal></mat-datepicker> 
                </mat-form-field> 

                <div *ngIf="verificarCampo('fechaFinal')" class="alert-danger">
                    {{getMensajeError("fechaFinal")}} 
                </div>
            </div>           
        </div>   
    </div>

    <div class="form-group" [hidden]="registerProductosForm.controls.tipoProveedor.value !== '3'">
        <div class="form-row">

            <!-- Ciudad Origen -->
            <div class="col-3">       
                <div class="form-group">
                    <label for="ciudadOrigen">Ciudad Origen</label>
                    <input type="text" class="form-control" formControlName="ciudadOrigen">
                </div>

                <div *ngIf="verificarCampo('ciudadOrigen')" class="alert-danger">
                    {{getMensajeError("ciudadOrigen")}} 
                </div>
            </div>

            <!-- Ciudad Destino -->
            <div class="col-3">            
                <div class="form-group">
                    <label for="ciudadDestino">Ciudad Destino</label>
                    <input type="text" class="form-control" formControlName="ciudadDestino">
                </div>

                <div *ngIf="verificarCampo('ciudadDestino')" class="alert-danger">
                    {{getMensajeError("ciudadDestino")}} 
                </div>
            </div>
        </div>   
    </div>

    <!--Componente para cargar imagenes-->          
    <div class="form-group">
        <app-file-upload 
                         (sendFileUpload)="showDataFileUpload($event)"
        ></app-file-upload>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!visibilidadBotonCrear">Crear</button>
    <button type="button" class="btn btn-default" (click)="limpiar()">Limpiar</button>

</form>